# Virtual environment
venv/
.venv/

#Bytecode
__pycache__/

# Database (for privacy)
*.db

# Build artifacts
build/
dist/
src/build
src/dist
*.spec
*.exe
app_gui/
_internal/
*.exe

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/

*txt
*csv